@font-face {
	font-family: Pixel Georgia;
	src: url(fonts/18959.ttf);
}
body {
	overflow: auto;
	font-family: Pixel Georgia;
	background: gray;
}
.container-fluid{
	width: 1000px;	
	background: white;
}
/* Header */
#nav {
	float: left;
	color: #999;
}
#nav li {
	float: left;
	padding-top: 16px;
	list-style-type:none;
	font-size: 12px;
	border-right: 2px;
}
#nav:first-child {
	padding-left: 0px;
}
#nav li a {
	padding-left: 5px;
	color: #999;
	text-decoration: none;
	margin-right: 5px;
}
.socials{
	text-align: right;
}
.socials div {
	padding-right: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	background: #957964;
	margin-top: 9px;
	display: inline-block;
	margin-left: 5px;
}
.socials div:hover{
	background: #db4a39;
}
.socials div > a {
	text-decoration: none;
	color: #fff;
}
.socials div > a:hover {
	color: #fff;
	text-decoration: none;
}

.row:first-child{
	background-color: #3c2520;
	height: 50px;
	box-shadow: none;
    outline: 2px solid #957964;
}


/* Name and search */
h1{
	font-size: 18px;
	text-transform: uppercase;
	color: #333;
	margin-top: 20px;
	border-right: 10px;
}
h1:first-letter {
	font-size: 32px;
}
h1+p{
	font-size: 10px;
	color: #999;
	margin-top: -10px;
}
#minus{
	text-decoration: none;
}
#minus p {
	width: 32px;
	height: 26px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 20px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	background: #957964;
	text-decoration: none;
}
#call{
	font-size: 14px;
	color: #999;
	margin-top: -10px;
	margin-bottom: 0px;
}
:required{
	text-align: left;
	width: 217px;
	height: 23px;
	font-size: 10px;
	border: 1px solid #ddd;
	text-decoration: none;
	padding-left: 3px;
	margin-bottom: 31px;
	position: relative;
	right: 56px;
}
a[title="Search"]{
	width: 55px;
	height: 30px;
	background: #3c2520;
	padding: 6px;
	color: #FFFFFF;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 10px;
	position: relative;
	right: 5px;
	top:-57px;
}

/* Menu */
#menu ul{
	padding: 0px;
}
#menu ul li {
	list-style-type:none;
	padding: 20px;
	background: #3c2520;
	float: left;
	margin-left: 2px;
	box-sizing: border-box;
}
#menu ul li a{
	text-decoration: none;
	color: #fff;
}
#menu ul li a:hover{
	text-decoration: none;
}

#menu > ul li:first-of-type{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background: #957964;
}
#menu > ul li:last-of-type{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding-right: 55px;
}

/* Text */
.cursus{
	font-family: Georgia; 
	padding-top: 50px;
	font-size: 26px;
	color: #957964;
	text-align: center;
}
.cursus+div{
	margin-left: 275px;
	margin-right: 275px;
	color: #999;
	font-size: 14px;
	text-align: center;
	padding-bottom: 60px;
}

/* Images */
.image_558x450{
	float: left;
	width: 566px;
	height: 458px;
	padding: 4px;
	border: 1px solid #ddd;
}
.image_372x152 img{
	padding-bottom: 1px;
	padding-left: 20px;
}

/* double 128x128 */
.stripe-title{
	padding-top: 50px;
	float: left;
	display: inline-block;
}
.stripe-title div{
	float: left;
	width: 155px;
}
.stripe-title-p{
	width: 160px
}
.stripe-title-p p{
	width: 100%;
	line-height: 36px;
	vertical-align: middle;
	text-align: center;
	float: left;
	font-size: 12px;
	color: #777;
	vertical-align: middle;
}
.stripe-title div hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: red; /* Цвет линии для остальных браузеров */
    background-color: #ebebeb; /* Цвет линии для браузера Firefox и Opera */
    height: 6px; /* Толщина линии */
}
.image_128x128{
	float: left;
	width: 128px;
	height: 128px;
}
.image_128x128 img{
	border-radius: 50%;
}
.text_128x128{
	float: left;
	width: 300px;
	padding-left: 20px;
	padding-bottom: 20px;
	line-height: 20px;
}
.text_128x128 b{
	color: #585b5f;
	line-height: 40px;
}
.text_128x128 p{
	color: #999;
}
.text_128x128 a{
	color: #957964;
}

/* faces */
.face{
	width: 225px;
	height: 305px;
	border: 1px solid #e4e4e4;
	float: left;
	text-align: center;
	padding: 20px;
	background-image: url(./../img/face0.png);
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center top;
}
.face div{
	padding-top: 135px;
}
.face div b{
	text-align: center;
	width: 20px;
	font-size: 23px;
	line-height: 30px;
	font-family: Georgia;
}
.face p{
	padding-top: 10px;
	line-height: 20px;
	color: #979797;
}
.face:hover{
	background-color: #957964;
	background-image: url(./../img/face1.png);
	color: #fff;
}
.face:hover p{
	color: #fff;
}

/* bottom */
.border{
	background-color: #dddddd;
	height: 5px;
}
.bottom{
	background-color: #efefef;
	height: 368px;
	border-bottom: 1px solid #957964;
}
